@page
@model Instancium.TagKit.DemoApp.Pages.TestTagHelperModel
@addTagHelper *, Instancium.TagKit.Core

<h2>Reload Demo</h2>

<test-tag id="test-tag"></test-tag>

<button type="button" onclick="reloadTag()">🔄 Reload test-tag</button>

<script>
    function reloadTag() {
      inst.reload("#test-tag", {
        lang: "en"
      });
    }
</script>